# Задание 1

In [ ]:
n = input()
position = len(n)//2 - 1
if len(n) % 2 == 0:
       print(n[position:position + 2])
else:
    print(n[position + 1])

# Задание 2

In [1]:
n = int(input("Введите число: "))
c = n
if n == 0:
    print("Результат:", 0, sep = '\n')
else:
    while n != 0:
        n = int(input("Введите число: "))
        c += n
    print("Результат: ", c, sep = '\n')

Введите число: 4
Введите число: 5
Введите число: 2
Введите число: 3
Введите число: 4
Введите число: 0
Результат:
18

# Задание 3

In [24]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) != len(girls):
    print("Внимание, кто-то может остаться без пары!")
else:
    print("Идеальные пары:")
    boys.sort()
    girls.sort()
    couple = zip(boys,girls)
    for boys,girls in couple:
        print(boys, "и", girls)

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

# Задание 4

In [51]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print("Средняя температура в странах:")
for value in countries_temperature:
    aver = (sum(value[1]) / len(value[1]) - 32) / 1.8
    print(f"{value[0]} - {aver:.1f} C")

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

# Задание 5

In [84]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
views, users = 0, []
for i in stream:
    i = i.split(',')
    views += int(i[-1])
    if i[1] not in users:
        users.append(i[1])
print(f"Среднее количество просмотров на уникального пользователя: {views / len(users):.2f}")

Среднее количество просмотров на уникального пользователя: 23.25

# Задание 6

In [92]:
n, li = input("Введите числа: ").split(), []
for i in n:
    if n.count(i) > 1:
        if i not in li:
            li.append(i)
print(*li)

Введите числа: 3 4 5 62 3
3